* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1125px;
    padding: 0 30px;
    margin: 0 auto;
    /* border: 1px solid; */
}

header {
    padding: 40px;
    background-color: #F2CEDA;
}

.nav_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_item {
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    opacity: 0.6;
    color: #D23166;
}

.nav_items {
    list-style: none;
    margin-left: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #150101;
    opacity: 0.6;
}

.nav_btn {
    width: 130px;
    height: 40px;
    text-decoration: none;
    padding: 8px 30px;
    background-color: #D23166;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FAFAFA;
    border-radius: 5px;
}

.feel_ {
    background-color: #F2CEDA;
    padding-bottom: 200px;
    padding-top: 230px;
}

.feel_main {
    display: flex;
    align-items: center;
}

.feel_para {
    width: 200px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #0F0101;
}

.feel_head {
    width: 700px;
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-size: 57.33px;
    line-height: 120.5%;
    color: #0F0101;
    opacity: 0.9;
}

.ice-cream {
    color: #D23166;
}

.para_feel {
    width: 520px;
    margin-top: 35px;
    margin-bottom: 50px;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #0F0101;
    opacity: 0.6;
}

.feel_img {
    position: absolute;
    left: 670px;
    top: 180px;
}

.extra_support_list {
    display: flex;
    padding-top: 30px;
}

.support_item {
    list-style: none;
    margin-top: 40px;
    margin-left: 170px;
    padding-bottom: 100px;
}

.support_items {
    list-style: none;
    margin-top: 40px;
}

.support_img {
    margin-left: 50px;
}

.support_head {
    margin-left: 20px;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}

.support_para {
    width: 180px;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    opacity: 0.6;
}

.Oatmea {
    background-color: #F8EDF0;
}

.Oatmea_main {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.left_head {
    width: 300px;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 49px;
    color: #150101;
    margin-bottom: 16px;
    margin-top: 140px;
}

.left_par {
    width: 441px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #150101;
    opacity: 0.6;
    margin-bottom: 35px;
}

.product {
    padding-top: 80px;
}

.product_head {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 61px;
    color: #150101;
    text-align: center;
    margin-bottom: 50px;
}

.product_list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;

}

.product_items {
    margin-left: 40px;
    list-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    opacity: 0.6;
    margin-bottom: 50px;
    border-bottom: 3px solid #fff;

}

.product_items:hover {
    color: #000000;
    border-bottom: 3px solid #D64374;
    opacity: 1;
}

.product_top {
    display: flex;
    justify-content: space-between;
}

.head_product {
    padding-top: 60px;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
}

.head__product {
    padding-top: 60px;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
}

.para_product {
    width: 500px;
    margin-top: 11px;
    margin-bottom: 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.7;
}

.product_price {
    margin-bottom: 30px;
}

.main_extra {
    margin-left: 350px;
}

.product_middle {
    display: flex;
}

.middle_img {
    margin-left: 100px;
}

.product_middle_ {
    display: flex;
    padding-top: 50px;
}

.extra {
    margin-left: 30px;
}

strong {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
}

del {
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-decoration-line: line-through;
    color: #000000;
    opacity: 0.7;
}

.product_customer {
    position: relative;

}

.flex {
    display: flex;
}

.name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 5px;
}

.about_ {
    margin-left: 11px;
}

.city {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    color: #000000;
    opacity: 0.7;
}

.product_bottom {
    margin-top: 112px;
    margin-bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.bottom_para {
    width: 300px;
    margin-top: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.icon_product {
    position: absolute;
    top: 114px;
    left: -20px;
}

.icon-product {
    position: absolute;
    left: 80px;
    top: 190px;
}

.bx-chevron-left {
    font-size: 35px;
    color: #D64374;
}

.bx-chevron-right {
    font-size: 35px;
    color: #D64374;
}

.person_box {
    width: 300px;
    margin-top: 50px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.food_order {
    background-color: #F8EDF0;
    height: 630px;
}

.order_food {
    display: flex;
    text-align: center;
    padding-top: 60px;
}

.order_main {
    margin-left: 134px;
}

.order_head {
    /* width: 1700px; */
    margin-top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 44.2px;
    line-height: 52px;
    color: #000000;
}

.order_para {
    width: 600px;
    margin-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #0F0101;
    opacity: 0.7;
    text-align: left;
}

.order_list {
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.order_icon {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.img_order {
    margin-right: 5px;
}
.question{
    padding: 100px 0;
}
.question_title {
    width: 500px;
    text-align: center;
    margin-left: 300px;
    margin-bottom: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
    color: #000000;
}

input {
    width: 300px;
    background: #FFFFFF;
    border: 1px solid #FFA3A3;
    border-radius: 5px;
    padding: 29px 25px;
}

input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #0F0000;
    opacity: 0.6;
}

.palceholder {
    width: 600px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #0F0000;
    opacity: 0.6;
    background: #FFFFFF;
    border: 1px solid #FFA3A3;
    border-radius: 5px;
    padding: 29px 25px;
   padding-right: 120px;
}



footer {
    background-color: #0A0808;
    padding-top: 70px;
    padding-bottom: 115px;
}

.footer_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_para {
    width: 200px;
    margin-top: 9px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    margin: 0 auto;
    position: relative;
    justify-content: space-between;
    row-gap: 30px;
}
.input_child {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    width: 134px;
    border: none;
    background: #D64374;
    border-radius: 5px;
    text-decoration: none;
    padding: 27px 46px;
    position: absolute;
    right: 0;
    bottom: 0;
   
}
.form_select {
    width: 300px;
    height: 75px;
    background: #FFFFFF;
    border: 1px solid #FFA3A3;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #0F0000;
    opacity: 0.6;
    padding: 25px 26px;
}

.footer_head {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.footer_icon {
    margin-top: 8px;
    padding-bottom: 135px;
    display: flex;
    text-align: center;
    list-style: none;
}

.footer_item {
    list-style: none;
}

.footer_items {
    list-style: none;
    margin-left: 10px;
}
.item_footer {
    list-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.items_footer {
    list-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    opacity: 0.7;
    margin-top: 10px;
}
.list_item{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    opacity: 0.8;
    margin-bottom: 10px;
    list-style: none;
}
.bottom_main{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.bottom_input{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.6;
    width: 388px;
    height: 55px;
    padding: 20px 32px;
    margin-top: 13px;
    background-color: transparent;
}

.footer_form{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.input_bottom{
    width: 125px;
    height: 57px;
    background: #D23166;
    border-radius: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.bottom_input::placeholder{
    color: #FFFFFF ;
    opacity: 0.6;
}
.bottom_{
    margin-top: 19px;
}
.asosiy{
   margin-left: 15px; 
}